<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Your Site Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="twitter:card" value="summary">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{request.base_url}}">
    <meta name="csrf-token" content="{{csrf_token()}}">
    <link rel="shortcut icon" href="/favicon.png">
    {% block meta %}{% endblock %}
    
    {{'css'|get_assets}}
</head>
<body>
    <div id="body-wrapper" class="body-wrapper">
    
        <div class="header navbar navbar-light bg-faded">
            <div class="container">
                <a class="navbar-brand m-b-0" href="/">
                    <div class="logo"></div>
                    Site Name
                </a>

                <ul class="nav navbar-nav">
                    <li class="nav-item {{ 'active' if request.path == '/about' else '' }}">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == '/contact' else '' }}">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>

                {% if current_user.is_anonymous() %}
                    <div class="pull-xs-right">
                        <a href="/signup" class="btn btn-secondary {{ 'active' if request.path == '/signup' else '' }}">Sign up</a>
                        
                        <a href="/signin" class="btn btn-secondary {{ 'active' if request.path == '/signin' else '' }}">Sign in</a>
                    </div>
                {% else %}
                    <div class="nav navbar-nav pull-xs-right">
                        <li class="nav-item {{ 'active' if request.path == '/user' else '' }}">
                            <a href="/user" class="nav-link">My profile</a>
                        </li>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>

        {%include 'footer.html'%}
    </div>
    
    {{'js'|get_assets}}
</body>
</html>
