{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block meta%}
    <meta property="og:title" content="">
    <meta property="og:image" content="http://dummyimage.com/1024x512/e52d27/fff.png&text=sitename">
    <meta property="og:description" content="">
{% endblock %}

{% block body %}
<div class="container front-page__container">
    <div class="row">
    
        <div class="col-md-8">
            <div id="app">APPLICATION CONTENT</div>
            

            <div class="image">
                
            </div>
            <h1>Headline</h1>

            <h3>Sub heading</h3>
            
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

        <div class="col-md-4">
            <div class="social-links clearfix">
                <a href="/oauth2/facebook" class="btn btn-primary facebook">{{_('Sign up with Facebook')}}</a>
                <a href="/oauth2/google" class="btn btn-danger google pull-right">{{_('Sign up with Google')}}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
