{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block body %}
<div class="container offset-top">
    
    {% include "alert.html" %}
    
    <div class="row">

        <div class="col-lg-6 offset-lg-3">
            <h1>Change password</h1>
            
            <hr>

            <form role="form" method="post" class="">
                {{ form.hidden_tag() }}
                
                {% if current_user.password %}
                    {% if form.old_password.errors %}
                        <div class="form-group has-danger">
                            {{ form.old_password(class_="form-control form-control-danger", placeholder="Old password") }}

                            {% for e in form.old_password.errors %}
                                <div class="form-control-feedback">{{e}}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ form.old_password(class_="form-control", placeholder="Old password") }}
                        </div>
                    {% endif %}
                {% endif %}

                {% if form.new_password.errors %}
                    <div class="form-group has-danger">
                        {{ form.new_password(class_="form-control form-control-danger", placeholder="New password") }}

                        {% for e in form.new_password.errors %}
                            <div class="form-control-feedback">{{e}}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ form.new_password(class_="form-control", placeholder="New password") }}
                    </div>
                {% endif %}

                {% if form.confirm_password.errors %}
                    <div class="form-group has-danger">
                        {{ form.confirm_password(class_="form-control form-control-danger", placeholder="Confirm password") }}

                        {% for e in form.confirm_password.errors %}
                            <div class="form-control-feedback">{{e}}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ form.confirm_password(class_="form-control", placeholder="Confirm password") }}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary">Change password</button>

                <a class="btn btn-secondary pull-xs-right" href="/user">Cancel</a>
            </form>
        </div>

    </div>
</div>
{% endblock %}
