{% extends "base.html" %}

{% block title %}{{_('Edit your password')}}{% endblock %}

{% block body %}
    <div class="container offset-top">
        
        {% include "alert.html" %}
        
        <div class="row">
            
            <!-- htmlmin:ignore -->
            <div class="col-md-8">
                <h1 class="h2">{{_('Edit password')}}</h1>
                <hr>

                <form role="form" method="post" class="">
                    {{ form.hidden_tag() }}
                    
                    {% if current_user.password %}
                        {% if form.old_password.errors %}
                            <div class="form-group has-error has-feedback">
                                {% for e in form.old_password.errors %}
                                    <label class="control-label">{{e}}</label>
                                {% endfor %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                            {{ form.old_password(class_="form-control", placeholder="Old password") }}
                        </div>
                    {% endif %}

                    {% if form.new_password.errors %}
                        <div class="form-group has-error has-feedback">
                            {% for e in form.new_password.errors %}
                                <label class="control-label">{{e}}</label>
                            {% endfor %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        {{ form.new_password(class_="form-control", placeholder="New Password") }}
                    </div>

                    {% if form.confirm_password.errors %}
                        <div class="form-group has-error has-feedback">
                            {% for e in form.confirm_password.errors %}
                                <label class="control-label">{{e}}</label>
                            {% endfor %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        {{ form.confirm_password(class_="form-control", placeholder="New Password") }}
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{_('Update password')}}
                    </button>

                    <a class="btn btn-default" href="/user">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{_('Cancel')}}
                    </a>
                </form>
            </div>
            <!-- htmlmin:ignore -->
            <div class="col-md-4">
                {% include 'user_sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}
